* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  height: 100vh;
  margin: 0;
  
}

header{
  height: 10vh;
  background: url('../img/header-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.main-wrapper {
  height: 90vh;
  /* margin-top: 4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: url('../../Tetris-game/img/main-bg.jpg') ;
  /* border: 1px solid red; */
}

.stats-wrapper {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  border: 5px outset #ccc;
}

#main-game{  
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
  /* border: 1px solid red; */
}

.right-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.next-piece-wrapper{
  text-align: center;
  background-color: #eee;
  border: 5px outset #ccc;
}

.command-wrapper{
  text-align: center;
  background-color: #eee;
  border: 5px outset #ccc;
}
